{% extends 'base.html.twig' %}

{% block title %}
Change Password
{% endblock %}


{% block content %}
    <h1>Change my password</h1>
    <a href="{{ path('account.index') }}">Back to my account</a>
    <hr>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}
    <hr>
{% endblock %}


